.bigbox {
    border: 2px solid black;
    width: 51vw;
    margin: auto;
    border-radius: 20px;
    /* margin-top: 0.15vh; */
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
}

.box {
    border: 2px solid black;
    width: 95%vw;
    margin: auto;
    height: 84.35vh;
    border-radius: 0px 0px 20px 20px;
    overflow: auto;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
    /* padding: 20px; */
}

.change {
    height: 7vh;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.change .titleImg,
.titleInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleInfo {
    margin-left: 10px;
}

.infoName {
    font-size: 30px;
    font-weight: 700;
}

.infoEmail {
    font-size: 15px;
    margin-left: 2px;
}

.change img {
    height: 6vh;
    width: 6vh;
    margin-right: 5px;
    transition: 0.5s;
}

.change img:hover {
    height: 6.5vh;
    width: 6.5vh;
    margin-right: 5px;
    transition: 0.5s;
}

.inp {
    width: 95%vw;
    margin: auto;
    margin-top: 15px;
    display: flex;
    border-radius: 100px;
    /* border: 2px solid white; */
}

.chooseLogo {
    position: absolute;
    /* border:2px solid black; */
    width: 50vw;
    border-radius: 0px 0px 20px 20px;
    margin-left: -5px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    background-color: black;
    z-index: 1;
}

.video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    z-index: 0;
    
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.video .player{
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.image{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    z-index: 0;
}
.image iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.choose {
    width: 7.5vw;
    height: 7.5vw;
    border: 3px solid;
    border-color: white;
    box-sizing: border-box;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choose img {
    width: 7.5vw;
}

.inp input {
    width: 100%;
    font-size: 25px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

.inp button {
    width: 50px;
    border-radius: 20px;
    margin-left: 5px;
}

.inpt {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
}

.inpt input {
    width: 40vw;
    height: 40px;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
}

.inpt button {
    height: 40px;
    width: 80px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.inptsub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data {
    /* border: 2px solid black; */
    /* height: 200px; */
    display: flex;
    margin: 10px;
}

.icon {
    width: 60px;
    margin: 10px;
    /* border: 2px solid black; */
}

.icon img {
    width: 60px;

}

.txt {
    width: 100%;
}

.name {
    margin-top: 10px;
    font-size: 21px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.name button {
    height: 28px;
    width: 28px;
    display: flex;
    background-color: black;
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.time {
    margin-bottom: 5px;
    margin-top: -5px;
    /* margin-left: 3px; */
    font-size: 15px;
    color: grey;
}

.chat {
    margin-left: 3px;
    padding-right: 45px;
}

.scroll {
    position: relative;
    text-align: right;
    width: 100%;
    margin-top: -55px;
    margin-left: -5px;
    /* border: 2px solid black; */
}

.scroll button {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: -1px;
    font-size: 25px;
    background-color: black;
    color: rgb(255, 255, 255);
}

.scroll button a {
    text-decoration: none;
}

.down {
    color: aqua;
}

@media screen and (max-width:600px) {
    .bigbox {
        /* border: 2px solid black; */
        margin-top: 0px;
        width: 100vw;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 10px;
        border-radius: 0px;
    }

    .box {
        border: 2px solid black;
        width: 100%;
        height: 84.5vh;
    }

    .scroll {
        text-align: right;
        box-sizing: border-box;
        width: 100%;
    }

    .name button {
        margin-right: -12px;
        margin-top: 5px;
    }

    .time {
        margin-top: -8px;
    }

    .icon {
        width: 60px;
        margin: 10px;
        margin-left: -5px;
        /* border: 2px solid black; */
    }

    .inpt input {
        width: 90vw;
    }

    .inp {
        width: 100%;
    }

    .chooseLogo {
        width: 100vw;
        border-radius: 0px 0px 20px 20px;
        /* border: 2px solid black; */
    }

    .choose {
        width: 14vw;
        height: 14vw;
        border: 3px solid;
        border-color: white;
        box-sizing: border-box;
        border-radius: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .choose img {
        width: 14vw;
    }
}