.bigbox{
    border: 2px solid black;
    width: 51vw;
    margin: auto;
    border-radius: 20px;
    margin-top: 0.1vh;
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
}
.box{
    border: 2px solid black;
    width: 95%vw;
    margin: auto;
    height: 84vh;
    border-radius: 0px 0px 20px 20px;
    overflow: auto;
    box-sizing: border-box;
    scrollbar-width: none;
    scroll-behavior: smooth;
    background-color: rgb(255, 255, 255);
    /* padding: 20px; */
}
.change{
    height: 7vh;
    border: 2px solid black;
    border-bottom: none;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    
}
.change .titleImg,.titleInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titleInfo{
    margin-left: 10px;
}
.infoName{
    font-size: 30px;
    font-weight: 700;
}
.infoEmail{
    font-size: 15px;
    margin-left: 2px;
}
.change img{
    height: 6vh;
    width: 6vh;
    margin-right: 5px;
    transition: 0.5s;
}
.change img:hover{
    height: 6.5vh;
    width: 6.5vh;
    margin-right: 5px;
    transition: 0.5s;
}
.inp{
    width: 95%vw;
    margin: auto;
    margin-top: 15px;
    display: flex;
    border-radius: 100px;
    /* border: 2px solid black; */
}
.chooseLogo{
    position: absolute;
    /* border:2px solid black; */
    width: 50vw;
    /* height: 24vw; */
    /* border-radius: 20px; */

    margin-left: -10px;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    background-color: black;
}
.choose img{
    width: 7.5vw;
}
.inp input{
    width: 100%;
    font-size: 25px;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 5px;
}
.inp button{
    width: 100px;
    border-radius: 20px;
}
.data{
    /* border: 2px solid black; */
    /* height: 200px; */
    display: flex;
    margin: 10px;
}
.icon{
    width: 60px;
    margin: 10px;
    /* border: 2px solid black; */
}
.icon img{
    width: 60px;
    /* border: 2px solid black; */
}
.txt{
    width: 100%;
}
.name{
    margin-top: 10px;
    font-size: 21px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}
.time{
    margin-bottom: 5px;
    font-size: 15px;
    color: grey;
}
.chat{
    margin-left: 5px;
    padding-right: 45px;
}
.scroll{
    position: relative;
    text-align: right;
    width: 100%;
    margin-top: -55px;
    margin-left: -5px;
    /* border: 2px solid black; */
}
.scroll button{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: -1px;
    font-size: 25px;
    background-color: black;
    color: rgb(255, 255, 255);
}
.scroll button a{
    text-decoration: none;
}
.down{
    color: aqua;
}

@media screen and (max-width:600px) {
    .bigbox{
        /* border: 2px solid black; */
        margin-top: 0px;
        width: 100vw;
        padding-bottom: 10px;
    }
    .box{
        border: 2px solid black;
        width: 100%;
        height: 84.3vh;
    }
    .scroll{
        text-align: right;
        box-sizing: border-box;
        width: 100%;
    }
    .inp{
        width: 100%;
    }
    .chooseLogo{
        width: 99vw;
        /* border: 2px solid black; */
    }
    .choose img{
        width: 14vw;
    }
}