.bigBox{
    border: 2px solid Black;
    width: 50vw;
    margin: auto;
    margin-top: 5vh;
    height: 90vh;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
}
.desig{
    height: 100%;
    width: 100%;
    border: 2px solid Black;
    border-radius: 20px;
    background-color: white;
}
.logo{
    border: 2px solid Black;
    width: 30vh;
    height: 30vh;
    margin: auto;
    margin-top: 5vh;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.logo .logo1{
    border: 2px solid Black;
    width: 27vh;
    height: 27vh;
    text-align: center;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    overflow: hidden;
}
.logo img{
    width: 25vh;
    height: 25vh;
    transition: 0.5s;
}
.logo img:hover{
    width: 30vh;
    height: 30vh;
    transition: 0.5s;
}
.inp{
    /* border: 2px solid Black; */
    display: flex;
    justify-content: center;
    margin: 30px;
}
.inp input{
    width: 100%;
    margin: auto;
    height: 50px;
    padding: 15px;
    font-size: 25px;
    box-sizing: border-box;
    border-radius: 25px;
}
.inp button{
    /* border: 2px solid Black; */
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
}
.signup{
    text-align: center;
}
.signup a{
    text-decoration: none;
    color: red;
}
.chooseLogo{
    position: absolute;
    /* border:2px solid black; */
    width: 50vw;
    /* height: 24vw; */
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin-left: -24px;
}
.choose img{
    width: 7.5vw;
}
.error{
    text-align: center;
    color: red;
}
@media screen and (max-width:600px) {
    .bigBox{
        width: 100vw;
        margin-top: 0px;
        height: 100vh;
    }
    .chooseLogo{
        width: 100vw;
        padding: 10px;
    }
    .choose img{
        width: 15vw;
    }
}